body{
    background-color: black;
    margin:0px;
    padding:0px;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height:inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: opx 5%;
}
nav ul{
    display: flex;
   
} 
nav ul li a{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkturquoise;
    font-size:18px;
    font-weight: 700;
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkturquoise;
    font-size: 24px;

}
.text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: darkturquoise;
    font-size: 22px;
}
.text p:nth-child(2) {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    color: darkturquoise;
    font-size: 60px;
}
.text p:nth-child(3) {
    font-style: italic;
    color: darkturquoise;
    font-size: 30px;
}
.text p {
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text {
    position: absolute;
    left: 13%;
    top:42%;
    transform: translate(-13%,-42%);
}
.pic {
    height: 560px;
    position: relative;
    left: 45%
}
.about{
    height: 350px;
    background-color:rgb(206, 194, 194);
    border-radius: 20px;
    box-shadow: blanchedalmond;
    display: flex;
    position: absolute;
}
.me{
    color: mediumseagreen;
    font-size: 30px;
}
.intro{
    color: black;
    font-size: 20px;
    position: relative;
    left:1%
}
.end{
    color: black;
    font-size: 20px;
    position: relative;
    left: 1%;
}

